header {
    //border-bottom: 1px solid black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background-color: rgb(190, 190, 190);
    //padding: 0 20px;

    img {
        height: 80px;
    }
    
    nav {
        :first-child {
            margin-right: 20px;
        }
        
        a[class="active"] {
            border-bottom: 3px solid orange;
        }

        // a:hover {
        //     color: #ffcb08;
        //     text-shadow: 1px 0 1px #004a94, 
        // }
    }
}