body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

button {
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background: none; 
}